@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* LETTERS */
/* SAMPLES */
.letter-w {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.letter-h {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.letter-y {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* CREATED STYLES */
.letter-a {
  font-size: 48px;
  font-weight: normal;
  color: #dc143c;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Barriecito", system-ui;
}

.letter-b {
  font-size: 60px;
  font-weight: normal;
  color: #a52a2a;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.letter-c {
  font-size: 60px;
  font-weight: 400;
  color: #000fff;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Imperial Script", cursive;
}

.letter-d {
  font-size: 18px;
  font-weight: normal;
  color: rgb(0, 0, 255);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Barriecito", system-ui;
}

.letter-e {
  font-size: 72px;
  font-weight: bold;
  color: #008000;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.letter-f {
  font-size: 72px;
  font-weight: 400;
  color: #ff6347;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Barriecito", system-ui;
}

.letter-g {
  font-size: 48px;
  font-weight: bold;
  color: rgb(255, 99, 71);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.letter-i {
  font-size: 48px;
  font-weight: 400;
  color: #a52a2a;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.letter-k {
  font-size: 24px;
  font-weight: normal;
  color: rgb(128, 0, 128);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Imperial Script", cursive;
}

.letter-l {
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 99, 71);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.letter-m {
  font-size: 72px;
  font-weight: 700;
  color: rgb(255, 127, 80);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Imperial Script", cursive;
}

.letter-n {
  font-size: 48px;
  font-weight: 400;
  color: #ff9999;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

.letter-o {
  font-size: 32px;
  font-weight: 400;
  color: rgb(128, 0, 128);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.letter-p {
  font-size: 72px;
  font-weight: normal;
  color: #800080;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.letter-r {
  font-size: 24px;
  font-weight: normal;
  color: rgb(255, 165, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fascinate Inline", system-ui;
}

.letter-s {
  font-size: 18px;
  font-weight: normal;
  color: #800080;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.letter-t {
  font-size: 32px;
  font-weight: 700;
  color: #ff7f50;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Barriecito", system-ui;
}

.letter-u {
  font-size: 72px;
  font-weight: bold;
  color: #ffa500;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Imperial Script", cursive;
}

.letter-v {
  font-size: 24px;
  font-weight: bold;
  color: #008000;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 72px;
  font-weight: 700;
  color: rgb(255, 127, 80);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}
.exclamation-mark {
  font-size: 18px;
  font-weight: 400;
  color: #a52a2a;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Imperial Script", cursive;
}
.question-mark {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barriecito", system-ui;
}
